[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
graphviz = "*"
kiwisolver = "*"
matplotlib = "*"
numpy = "*"
opencv-python = "*"
pyparsing = "*"
python-dateutil = "*"
six = "*"
Cycler = "*"
Pillow = "*"
jupyter = "*"
pyyaml = "*"
pandas = "*"
dbus-python = {version = "*",sys_platform = "!= 'darwin'"}
pygobject = {version = "*",sys_platform = "!= 'darwin'"}
pycairo = {version = "*",sys_platform = "!= 'darwin'"}
plotly = "*"
ipywebrtc = "*"
deap = "*"
keras = "*"
tensorflow = "*"
pydot = "*"
schedule = "*"

[requires]
python_version = "3.7"
